@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif !important;
}

.nav-container{
  height: 5rem;
  background-color: #f4e08a;
  padding-bottom: 1.5rem;
}

.first-container{
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  height: 100%;
}
.right-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 3rem;

}

.left-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.5rem;

}
.button-contact22{
  min-width: 130px;
  height: 35px;
  color: #0050a0;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #0050a0;
  background: #f2f4f3;
  text-align: center;
  font-size: 1.3rem;
}

.button-contact22:hover {
  background: linear-gradient(#0050a0, #91bbd1);
}
*,
::after,
::before {
  box-sizing: initial;
}

#menuToggle {
  display: none;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #0050a0;
  font-weight: 800;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #0050a0;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #0050a0;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

.responsive-nav {
  display: none;
}

.first-title{
  font-size: 4rem;
}

.first-title2 {
  font-size: 7rem;
  color: #0050a0;
}

.first-parag {
  font-size: 1.5rem;
}

.first-left-box {
  max-width: 40rem;
}

.about-section {

  margin-left: 2rem;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 8rem;

}

.main-section {

  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


.second-title2 {
  font-size: 4rem;
  color: #0050a0;
  font-weight: 800;
  padding-bottom: 1rem;
}

.skills-section {
  padding-left: 4rem;
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: #EEEBE8;
}

.ghz-picture {
  height: 500px;
  clip-path: circle();
}

.ghz-logo {
  height: 250px;
  width: 250px;
}

.first-right-box {
  margin-top: 2.5rem;
}

.pg-footer {
  background-image: linear-gradient(45deg, #0050A0, #91bbd1);
  opacity: 0.9;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.footer-col {
  max-width: 225px;
  margin-top: 3rem;
}

.foot-title {
  font-size: 2rem;
}

.foot-par {
  font-size: 1.2rem;
  overflow-wrap: break-word;
}


.copy-ghz {
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2rem;
  background-color: white;
  height: 2px;
}

.copy-ghz2 {
  margin-left: 7rem;
  margin-right: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.social-ghz {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 0.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-block: 2rem;
  gap: 2rem;
  max-width: none;
  padding-right: 0 !important;
  padding-left: 0 !important;

}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.resume2{
  color: white;
  text-decoration: none;

}
.resume2:hover{
  color: tomato;
  text-decoration: none;
}
.resume3{
  color: white;
  text-decoration: none;

}
.resume3:hover{
  color: tomato;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag{
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag+.tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info>small {
  color: #666;
}

.question-section {
  padding-left: 5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EEEBE8;
}

.question-show {
  padding-top: 10rem;
}

#logocontainer {
  position: relative;
  background: transparent;
  transform: translate(-5rem, -12rem);
  width: 450px;
  height: 450px;
}
#css3 {
  margin: 0;
  position: absolute;
  top: 67%;
  left: 20%;
  width: 15%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

#html5 {
  margin: 0;
  position: absolute;
  top: 37%;
  left: 30%;
  width: 15%;
  transform: translate(-50%, -50%);
}

#sass {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 15%;
  transform: translate(-50%, -50%);
}

#js {
  margin: 0;
  position: absolute;
  top: 37%;
  left: 70%;
  width: 15%;
  transform: translate(-50%, -50%);
}

#php {
  margin: 0;
  position: absolute;
  top: 67%;
  left: 80%;
  width: 15%;
  transform: translate(-50%, -50%);
}

#Retina1, #Retina2 {
  animation-name: blink;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform-origin: 50%;
}

@keyframes blink {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  1% {
    transform: scaleX(1.3) scaleY(0.1);
  }
  2% {
    transform: scaleX(1) scaleY(1);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  61% {
    transform: scaleX(1.3) scaleY(0.1);
  }
  62% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
#sanky {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

#retina {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  z-index: -4;
  transform: translate(-50%, -50%);
}

.question-descrip {
  max-width: 50rem;
}

.portfolio-section {
  padding-left: 5rem;
  padding-top: 12rem;
  padding-bottom: 2rem;
}

.totale-image {
  height: 250px;
  width: 350px;
}

.third-title {
  font-size: 4rem;
  color: #0050a0;
  font-weight: 800;
}

.third-parag {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.master-section {
  padding-left: 3rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.project-line {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-section {
  text-align: CENTER;
  padding-top: 8rem;
  padding-left: 25rem;
  padding-right: 25rem;
  padding-bottom: 8rem;

}

.fourth-title {
  font-size: 4rem;
  color: #0050a0;
  padding-bottom: 2REM;
}

.fourth-parag {
  overflow-wrap: break-word;
  font-size: 1.2rem;
  padding-bottom: 2rem;

}

.project-text {
  max-width: 30rem;
  margin-top: 3rem;
}

.project-title {
  font-size: 2rem;
  color: #0050a0;
  text-align: left;
}

.project-description {
  font-size: 1.2rem;
  text-align: left;
  margin-top: 3rem;
}

.project-peek2 {
  height: 500px;
  width: 500px;
}

.third-title2 {
  font-size: 4rem;
  color: #0050a0 !important;
  text-align: left;
  font-weight: 800;
}
@media(max-width: 1350px){
  .project-peek2 {
    height: 400px;
    width: 400px;
  }

  .question-show {
    padding-top: 10rem;
  }
  
  #logocontainer {
    position: relative;
    background: transparent;
    transform: translate(-0.5rem, -12rem);
    width: 400px;
    height: 400px;
  }
  #css3 {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 20%;
    width: 15%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  #html5 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 30%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #sass {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #js {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 70%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #php {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 80%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #Retina1, #Retina2 {
    animation-name: blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }
  
  @keyframes blink {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    1% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    2% {
      transform: scaleX(1) scaleY(1);
    }
    60% {
      transform: scaleX(1) scaleY(1);
    }
    61% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    62% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
  #sanky {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  
  #retina {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    z-index: -4;
    transform: translate(-50%, -50%);
  }
}
@media(max-width: 1250px){
  .question-show {
    padding-top: 10rem;
  }
  
  #logocontainer {
    position: relative;
    background: transparent;
    transform: translate(-0.5rem, -12rem);
    width: 400px;
    height: 400px;
  }
  #css3 {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 20%;
    width: 15%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  #html5 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 30%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #sass {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #js {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 70%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #php {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 80%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #Retina1, #Retina2 {
    animation-name: blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }
  
  @keyframes blink {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    1% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    2% {
      transform: scaleX(1) scaleY(1);
    }
    60% {
      transform: scaleX(1) scaleY(1);
    }
    61% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    62% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
  #sanky {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  
  #retina {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    z-index: -4;
    transform: translate(-50%, -50%);
  }
}
@media(max-width: 1180px) {
  .master-section {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .ghz-picture {
    height: 400px;
  }

  .first-title {
    font-size: 3rem;
  }

  .first-title2 {
    font-size: 3rem;
    color: #0050a0;

  }

  .first-parag {
    font-size: 1.2rem;
  }

  .footer-col {
    max-width: 225px;
    margin-top: 3rem;
  }

  .foot-title {
    font-size: 1.3rem;
  }

  .foot-par {
    font-size: 1rem;

  }

  .copy-ghz {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 2rem;
    background-color: white;
    height: 2px;
  }

  .copy-ghz2 {
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .social-ghz {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 0.5rem;
  }

  .ghz-logo {
    height: 150px;
    width: 150px;
  }

  .iconify {
    height: 30px;
    width: 30px;
  }

  .third-title {
    font-size: 2rem;
    color: #0050a0;
  }
  
  #logocontainer {
    position: relative;
    background: transparent;
    transform: translate(-8rem, -10rem);
    width: 350px;
    height: 350px;
  }
  #css3 {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 20%;
    width: 15%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  #html5 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 30%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #sass {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #js {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 70%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #php {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 80%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #Retina1, #Retina2 {
    animation-name: blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }
  
  @keyframes blink {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    1% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    2% {
      transform: scaleX(1) scaleY(1);
    }
    60% {
      transform: scaleX(1) scaleY(1);
    }
    61% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    62% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
  #sanky {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  
  #retina {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    z-index: -4;
    transform: translate(-50%, -50%);
  }

  .question-show {
    max-width: 50rem;
  }

  .question-descrip {
    max-width: 25rem;
  }

  .question-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .third-parag {
    font-size: 1.1rem;
    margin-top: 2rem;
  }

  .master-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .project-line {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-text {
    max-width: 30rem;
    margin-top: 3rem;
  }

  .project-title {
    font-size: 2rem;
    color: #0050a0;
    text-align: left;
  }

  .project-description {
    font-size: 1.2rem;
    text-align: left;
    margin-top: 3rem;
  }

  .project-peek2 {
    height: 400px;
    width: 400px;
  }

  .contact-section {
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: white;

    text-align: CENTER;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .fourth-title {
    font-size: 2rem;
    color: #0050a0;
  }

  .fourth-parag {
    overflow-wrap: break-word;
    font-size: 1.2rem;

  }

  .button-contact22 {
    min-width: 100px;
    height: 25px;
    color: #0050a0;
    padding: 8px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #0050a0;
    background: #f2f4f3;
    text-align: center;
    font-size: 1rem;
  }

  .nav-option {
    text-decoration: none;
    color: #0050A0;
    font-weight: 800;
    border-bottom: 3px solid blue;
  }

  .nav-option:hover {
    text-decoration: none;
  }

  .nav-option2 {
    text-decoration: none;
    color: #0050A0;
    font-weight: 800;
  }

  .nav-option2:hover {
    text-decoration: none;
  }

}

@media(max-width: 1070px) {
  .ghz-picture {
    height: 300px;
  }

  .first-title {
    font-size: 2rem;

  }

  .first-title2 {
    font-size: 4rem;
    color: #0050a0;
  }

  .first-parag {
    font-size: 1.1rem;
  }

  .first-left-box {
    max-width: 30rem;
  }

  .footer-col {
    max-width: 200px;
    margin-top: 3rem;
  }

  .foot-title {
    font-size: 1.3rem;
  }

  .foot-par {
    font-size: 0.9rem;

  }

  .copy-ghz {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 2rem;
    background-color: white;
    height: 2px;
  }

  .copy-ghz2 {
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .social-ghz {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 0.5rem;
  }

  .ghz-logo {
    height: 150px;
    width: 150px;
  }

  .iconify {
    height: 30px;
    width: 30px;
  }

  .master-section {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .project-line {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-text {
    max-width: 20rem;
    margin-top: 3rem;
  }

  .project-title {
    font-size: 1.5rem;
    color: #0050a0;
    text-align: left;
  }

  .project-description {
    font-size: 1rem;
    text-align: left;
    margin-top: 3rem;
  }

  .project-peek2 {
    height: 300px;
    width: 300px;
  }


}

@media(max-width: 960px) {
  #menuToggle {
    display: block;

  }

  .first-container {
    display: none;
  }

  .responsive-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .button-respons22 {
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .footer-col {
    max-width: 170px;
    margin-top: 3rem;
  }

  .foot-title {
    font-size: 1.1rem;
  }

  .foot-par {
    font-size: 0.9rem;

  }

  .copy-ghz {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 2rem;
    background-color: white;
    height: 2px;
  }

  .copy-ghz2 {
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .social-ghz {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 0.5rem;
  }

  .ghz-logo {
    height: 120px;
    width: 120px;
  }

  .iconify {
    height: 30px;
    width: 30px;
  }
  .third-title {
    font-size: 2rem;
    color: #0050a0;
  }
  
  #logocontainer {
    position: relative;
    background: transparent;
    transform: translate(-3rem, -11rem);
    width: 320px;
    height: 320px;
  }
  #css3 {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 20%;
    width: 15%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  #html5 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 30%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #sass {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #js {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 70%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #php {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 80%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  
  #Retina1, #Retina2 {
    animation-name: blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }
  
  @keyframes blink {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    1% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    2% {
      transform: scaleX(1) scaleY(1);
    }
    60% {
      transform: scaleX(1) scaleY(1);
    }
    61% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    62% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
  #sanky {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  
  #retina {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    z-index: -4;
    transform: translate(-50%, -50%);
  }

  .question-show {
    max-width: 50rem;
  }

  .question-descrip {
    max-width: 25rem;
  }

  .question-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .third-parag {
    font-size: 1.1rem;
    margin-top: 2rem;
  }

}

@media(max-width: 809px) {
  #logocontainer {
    position: relative;
    background: transparent;
    transform: translate(-0.5rem, -11rem);
    width: 300px;
    height: 300px;
  }
  #css3 {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 20%;
    width: 13%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  #html5 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 30%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #sass {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #js {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 70%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #php {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 80%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #Retina1, #Retina2 {
    animation-name: blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }
  
  @keyframes blink {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    1% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    2% {
      transform: scaleX(1) scaleY(1);
    }
    60% {
      transform: scaleX(1) scaleY(1);
    }
    61% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    62% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
  #sanky {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  
  #retina {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    z-index: -4;
    transform: translate(-50%, -50%);
  }
  .ghz-picture {
    height: 250px;
    margin-right: 2rem;
  }

  .first-title {
    font-size: 2rem;
  }

  .first-title2 {
    font-size: 3rem;
    color: #0050a0;
  }

  .first-parag {
    font-size: 1.1rem;
  }

  .first-left-box {
    max-width: 20rem;
  }

  .pg-footer {
    background-image: linear-gradient(45deg, #0050a0, #91bbd1);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;

  }

  .main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .footer-col {
    text-align: center;
    max-width: 250px;
    margin-top: 1rem;
  }

  .foot-title {
    font-size: 1.1rem;
  }

  .foot-par {
    font-size: 0.9rem;

  }

  .copy-ghz {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 2rem;
    background-color: white;
    height: 2px;
  }

  .copy-ghz2 {
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .social-ghz {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 0.5rem;
  }

  .ghz-logo {
    height: 200px;
    width: 200px;
  }

  .iconify {
    height: 30px;
    width: 30px;
  }

  .third-title {
    font-size: 1.5rem;
    color: #0050a0;
  }

  .question-show {
    max-width: 50rem;
  }

  .question-descrip {
    max-width: 20rem;
  }

  .question-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .third-parag {
    font-size: 1rem;
    margin-top: 2rem;
  }

  .third-title2 {
    font-size: 3rem;
    color: #0050a0 !important;
    text-align: center;
  }

  .portfolio-section {
    PADDING-left: 1rem;
    padding-top: 14rem;
  }

  .master-section {

    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .project-line {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-text {
    max-width: 20rem;
    margin-top: 3rem;
  }

  .project-title {
    font-size: 1.5rem;
    color: #0050a0;
    text-align: left;
  }

  .project-description {
    font-size: 1rem;
    text-align: left;
    margin-top: 3rem;
  }

  .project-peek2 {
    height: 250px;
    width: 250px;
  }

  .contact-section {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
    text-align: CENTER;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .fourth-title {
    font-size: 2rem;
    color: #0050a0;
  }

  .fourth-parag {
    overflow-wrap: break-word;
    font-size: 1.2rem;

  }

  .button-contact22 {
    min-width: 100px;
    height: 25px;
    color: #0050a0;
    padding: 8px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #0050a0;
    background: #f2f4f3;
    text-align: center;
    font-size: 1rem;
  }

}

@media(max-width: 600px) {
  .main-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .ghz-picture {
    height: 400px;
    margin-right: 2rem;
  }

  .first-title {
    font-size: 2rem;
    text-align: center;
  }

  .first-title2 {
    font-size: 3rem;
    color: #0050a0;

  }

  .first-parag {
    display: none;
    font-size: 1.1rem;
  }

  .first-left-box {
    max-width: 30rem;
  }

  .iconify {
    height: 20px;
    width: 20px;
  }

  .third-title {
    font-size: 2.5rem;
    color: #0050a0;
    text-align: center;
  }

  .question-show {
    margin-top: 2rem;
    max-width: 50rem;
  }

  .question-descrip {
    max-width: 30rem;
  }
  #logocontainer {
    position: relative;
    background: transparent;
    transform: translate(-0.5rem, -9rem);
    width: 400px;
    height: 300px;
  }
  #css3 {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 20%;
    width: 13%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  #html5 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 30%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #sass {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #js {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 70%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #php {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 80%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #Retina1, #Retina2 {
    animation-name: blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }
  
  @keyframes blink {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    1% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    2% {
      transform: scaleX(1) scaleY(1);
    }
    60% {
      transform: scaleX(1) scaleY(1);
    }
    61% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    62% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
  #sanky {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  
  #retina {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    z-index: -4;
    transform: translate(-50%, -50%);
  }

  .question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 0.1rem;
  }

  .third-parag {
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: center;
  }

  .third-title2 {
    font-size: 3rem;
    color: #0050a0 !important;
    text-align: center;
  }

  .portfolio-section {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 14rem;
  }

  .master-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .project-line {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-text {
    max-width: 30rem;
    margin-top: 3rem;
  }

  .project-title {
    font-size: 2rem;
    color: #0050a0;
    text-align: center;
  }

  .project-description {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
  }

  .project-peek2 {
    height: 400px;
    width: 400px;
  }

}

@media(max-width: 470px) {
  .third-title {
    font-size: 1.5rem;
    color: #0050a0;
    text-align: center;
  }

  .question-show {
    max-width: 50rem;
  }

  .question-descrip {
    max-width: 30rem;
  }
  #logocontainer {
    position: relative;
    background: transparent;
    transform: translate(-0.5rem, -9rem);
    width: 300px;
    height: 300px;
  }
  #css3 {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 20%;
    width: 13%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  #html5 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 30%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #sass {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #js {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 70%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #php {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 80%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #Retina1, #Retina2 {
    animation-name: blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }
  
  @keyframes blink {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    1% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    2% {
      transform: scaleX(1) scaleY(1);
    }
    60% {
      transform: scaleX(1) scaleY(1);
    }
    61% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    62% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
  #sanky {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  
  #retina {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    z-index: -4;
    transform: translate(-50%, -50%);
  }

  .question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 0.1rem;
  }

  .third-parag {
    font-size: 1rem;
    margin-top: 2rem;
    text-align: center;
  }
  .main-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .skills-section {
    padding-right: 4rem;
  }

  .ghz-picture {
    height: 280px;
    margin-right: 2rem;
  }

  .first-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .first-title2 {
    font-size: 2rem;
    color: #0050a0;

  }

  .first-parag {
    display: none;
    font-size: 1.1rem;
  }

  .first-left-box {
    max-width: 30rem;
  }

  .second-title1 {
    font-size: 1.3rem;
    font-weight: 700;

  }

  .second-title2 {
    font-size: 2rem;
    color: #0050a0;
  }

  .card-title {
    font-size: 1rem !important;
  }

  .card-description {
    font-size: 0.7rem;
  }

  .footer-col {
    text-align: center;
    max-width: 250px;
    margin-top: 1rem;
  }

  .foot-title {
    font-size: 1.1rem;
  }

  .foot-par {
    font-size: 0.7rem;

  }

  .copy-ghz {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    background-color: white;
    height: 2px;
  }

  .copy-ghz2 {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .social-ghz {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 0.5rem;
  }

  .ghz-logo {
    height: 200px;
    width: 200px;
  }

  .iconify {
    height: 15px;
    width: 15px;
  }

  .third-title2 {
    font-size: 2rem;
    color: #0050a0 !important;
    text-align: center;
  }

  .portfolio-section {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
  }

  .master-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .project-line {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-text {
    margin-top: 3rem;
  }

  .project-title {
    font-size: 1.6rem;
    color: #0050a0;
    text-align: center;
  }

  .project-description {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3rem;
  }

  .project-peek2 {
    height: 250px;
    width: 250px;
  }

  .contact-section {
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: white;

    text-align: CENTER;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .fourth-title {
    font-size: 1.5rem;
    color: #0050a0;
  }

  .fourth-parag {
    overflow-wrap: break-word;
    font-size: 1rem;

  }

  .button-contact22 {
    min-width: 100px;
    height: 25px;
    color: #0050a0;
    padding: 8px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #0050a0;
    background: #f2f4f3;
    text-align: center;
    font-size: 1rem;
  }

}

@media(max-width: 300px) {
  .third-title {
    font-size: 1rem;
    color: #0050a0;
    text-align: center;
  }

  .question-show {
    max-width: 50rem;
  }

  .question-descrip {
    max-width: 30rem;
  }
  #logocontainer {
    position: relative;
    background: transparent;
    transform: translate(-0.5rem, -8rem);
    width: 200px;
    height: 150px;
  }
  #css3 {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 20%;
    width: 13%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
  
  #html5 {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 30%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #sass {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #js {
    margin: 0;
    position: absolute;
    top: 37%;
    left: 70%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #php {
    margin: 0;
    position: absolute;
    top: 67%;
    left: 80%;
    width: 13%;
    transform: translate(-50%, -50%);
  }
  
  #Retina1, #Retina2 {
    animation-name: blink;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }
  
  @keyframes blink {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    1% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    2% {
      transform: scaleX(1) scaleY(1);
    }
    60% {
      transform: scaleX(1) scaleY(1);
    }
    61% {
      transform: scaleX(1.3) scaleY(0.1);
    }
    62% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
  #sanky {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  
  #retina {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    z-index: -4;
    transform: translate(-50%, -50%);
  }

  .question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 0.1rem;
    padding-bottom: 0;
  }

  .main-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .ghz-picture {
    height: 280px;
    margin-right: 2rem;
  }

  .first-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .first-title2 {
    font-size: 2rem;
    color: #0050a0;

  }

  .first-parag {
    display: none;
    font-size: 1.1rem;
  }

  .first-left-box {
    max-width: 30rem;
  }

  .button-contact22 {
    min-width: 100px;
    height: 25px;
    color: #0050a0;
    padding: 8px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #0050a0;
    background: #f2f4f3;
    text-align: center;
    font-size: 0.9rem;
  }

  .button-respons22 {
    margin-top: 2.5rem !important;
    margin-right: 2rem;
  }

  #menuToggle span {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #0050a0;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  .card-title {
    font-size: 0.6rem !important;
  }

  .card-description {
    font-size: 0.5rem;
  }
  .skills-section {
    padding-left: 2rem;
     padding-top: 6rem;
     padding-bottom: 6rem;
     background-color: #EEEBE8;
     padding-right: 2rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  }
  .tag{
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: 0.5rem;
  }
  .second-title2 {
    font-size: 1.5rem;
    color: #0050a0;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-block: 2rem;
    gap: 2rem;
    max-width: none;
  }
  .footer-col {
    text-align: center;
    max-width: 250px;
    margin-top: 1rem;
  }

  .foot-title {
    font-size: 1.1rem;
  }

  .foot-par {
    font-size: 0.7rem;

  }

  .copy-ghz {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    background-color: white;
    height: 2px;
  }

  .copy-ghz2 {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .social-ghz {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 0.5rem;
  }

  .ghz-logo {
    height: 170px;
    width: 170px;
  }

  .iconify {
    height: 15px;
    width: 15px;
  }

  .question-show {
    margin-top: 2rem;
    max-width: 50rem;
    margin-bottom: 0;
  }

  .question-descrip {
    max-width: 30rem;
  }

  .third-parag {
    font-size: 0.8rem;
    margin-top: 2rem;
    text-align: center;
  }

  .third-title2 {
    font-size: 1.5rem;
    color: #0050a0 !important;
    text-align: center;
  }

  .portfolio-section {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
  }
  .master-section {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .project-line {

    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-text {
    max-width: none;
    margin-top: 3rem;
  }

  .project-title {
    font-size: 1.2rem;
    color: #0050a0;
    text-align: center;
  }

  .project-description {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 3rem;
  }

  .project-peek2 {
    height: 150px;
    width: 150px;
  }

  .contact-section {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
    text-align: CENTER;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fourth-title {
    font-size: 1rem;
    color: #0050a0;
  }

  .fourth-parag {
    overflow-wrap: break-word;
    font-size: 0.8rem;

  }
}

.nav-option {
  text-decoration: none;
  color: #0050A0;
  font-weight: 800;
  border-bottom: 3px solid #0050A0;
  padding-bottom: 4px;
}

.nav-option:hover {
  text-decoration: none;
  color: #cb2d3e;
  border-bottom: 3px solid #cb2d3e;
  padding-bottom: 4px;
}

.nav-option2 {
  text-decoration: none;
  color: #0050A0;
  font-weight: 800;
}

.button-contact22:hover .nav-option2 {
  color: white;
  text-decoration: none;
}

.button-contact22:hover {
  border-radius: 20px;
  border: 2px solid white;
}

.fbconify {
  color: white;
}

.fbconify:hover {
  color: blue;
}

.linconfi {
  color: white;
}

.linconfi:hover {
  color: #0A67C3;
}

.twiconfi {
  color: white;
}

.twiconfi:hover {
  color: #1D9AF1;
}
.resume{
  color: #0050A0;
  text-decoration: none;
  font-weight: 700;
}
.resume:hover{
  text-decoration: none;
  color: tomato;
  transition: ease 0.3s;
}