html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.nav-container{
    height: 5rem;
}

.first-container{
    display: grid;
    grid-template-columns: 1.5fr  3fr;
    height: 100%;
}

.right-container{
    
    
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 3rem;
      
}
.left-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.5rem;
    
}

a{
    text-decoration: none;
    font-weight: 800;
    color: #0050a0;
}


.button-contact {
    min-width: 130px;
    height: 40px;
    color: #0050a0;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #0050a0;
    background: #f2f4f3;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1rem;
    
  }

  .nav-button{
    border-bottom:3px solid #0050a0;
    padding-bottom:4px;
  }
#menuToggle
{
  display: none;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: #551A8B;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #551A8B;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #551A8B;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
.responsive-nav{
    display: none;
}
  .footer {
    background: linear-gradient(#0050a0, #5d0247);
  }
.first-title{
  font-size: 4rem;
  
}
.first-title2{
  font-size: 7rem;
  color: #0050a0;
}
.first-parag{
  font-size: 1.5rem;
}
.first-left-box{
  max-width: 40rem;
}
 .about-section{
  margin-left: auto;
  margin-right: auto;
 }
  .main-section{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
  .second-title1{
    font-size: 1.5rem;
  }
  .second-title2{
    font-size: 3rem;
    color: #0050a0;
  }
  .skills-section{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 7.5rem;
  }
.ghz-picture{
  height: 500px;
  clip-path: circle();
}
.ghz-logo{
  height: 250px;
  width: 250px;
}
.first-right-box{
  margin-top: 2.5rem;   
}
  
@media(max-width: 960px){
    #menuToggle{
        display: block;
    }
    .first-container{
        display: none;
    }
    .responsive-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .button-respons{
        margin-top: 2rem;
        margin-right: 2rem;
    }
   
}

  .pg-footer{
  background-image: linear-gradient(45deg,#0050a0, #91bbd1);
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    
  }
  .main-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  .footer-col{
    max-width: 225px;
    margin-top: 3rem;
  }

  .foot-title{
    font-size: 2rem;
  }
  .foot-par{
    font-size: 1.3rem;
   
  }
  .css-button-sliding-to-left--blue {
    min-width: 200px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid white;
    color: #2c0b8e;
  }
  .css-button-sliding-to-left--blue:hover {
    color: #fff;
    border: 2px solid #2c0b8e;
  }
  .css-button-sliding-to-left--blue:hover:after {
    width: 100%;
    
  }
  .css-button-sliding-to-left--blue:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #2c0b8e;
    
  }


  .copy-ghz{
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 2rem;
    background-color: white;
    height: 2px;
  }
  .copy-ghz2{
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .social-ghz{
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-top: 0.5rem;
  }

  .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.question-section{
  margin-left:  5rem;
  margin-right: 5rem;
  margin-top: 8rem;
  max-width: 40rem;
}
.portfolio-section{
  margin-left:  5rem;
  margin-right: 5rem;
  margin-top: 14rem;
}

.third-title{
  font-size: 3rem;
  color: #0050a0;
}
.third-parag{
  font-size: 1.5rem;
}
.master-section{
  margin-left:  5rem;
  margin-right: 5rem;
}
.project-line{
  margin-left:  5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}